body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    /* padding:70px; */
}
.container{
    flex:1;
    max-width: 1200px !important;

}
.logo i{
    font-size: 2rem;
    color: #ff5733;
}
/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-brand,.f-info-links ,.f-info-socials{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
   
}
.f-info{
    height:8rem;
    background-color: gainsboro;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    object-fit: cover!important;
}
.card-body {
    padding: 1rem !important;
}
.card-text {
    fontweight: 400 !important;
    text-decoration:underline;
}
.listing-link{
    text-decoration: none;;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* add btn */
.add-btn{
    background-color: #ff5733 !important;
    border:none !important;
}
.edit-btn{
    background-color: #ff5733 !important;
    border:none !important;
}

/* show page styling  */
.card-text{
    text-decoration: none !important;
    font-weight: 600;
    
}