<% layout('layouts/boilerplate') -%>

<div class="row mt-3">
    <div class="col-8 offset-2">
    <h2>Create a new listing </h2>
    <form action="/listings" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
 <label for="title" class="form-label" >Title:</label>
        <input id="title" name="listing[title]" class="form-control" required ><br>
       <div class="valid-feedback">Title Looks Good</div>
        </div>

       <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea id="description" name="listing[description]" placeholder="tell me about your place " class="form-control" required></textarea><br>
        <div class="invalid-feedback">Enter short discription</div>
        <div class="valid-feedback">Discription Looks Good</div>
        </div>

        <div class="mb-3">
        <label for="image" class="form-label">Image link:</label>
         <input id="image" type="url" name="listing[image]" placeholder="image url" class="form-control"  > <br><br>
         <div class="valid-feedback">Url Looks Good</div> 
        </div>

        <div class="row">

        <div class="mb-3 col-4">
        <label for="price" class="form-label">Price:</label>
         <input id="price" type="number" name="listing[price]" placeholder="Price" class="form-control" required><br>
         <div class="valid-feedback">Price Looks Good</div>
         </div>

         <div class="mb-3 col-8">
            <label for="country" class="form-label">Country:</label>
            <input id="country" type="text" class="form-control" name="listing[country]" placeholder="India">
         </div>
</div>
         <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
          <input id="location" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control" required><br>
          <div class="valid-feedback">Location Looks Good</div>
          <div class="invalid-feedback">Enter Correct Location</div>
          </div>
          
<br><br>
<button class="btn btn-dark add-btn mt-3" type="submit">ADD</button>
    </form>

    <form action="/listings">
        <br>
        <button>Cancel</button>
    </form>
</div>
</div>